<form ng-submit="login.login(loginForm)" name="loginForm">
    <p>default login: test@tungv.com / test</p>
    <div class="form-group">
        <label for="email">
            Email:
        </label>
        <input type="email" id="email" class="form-control" ng-model="login.email" autofill-enabled/>
    </div>

    <div class="form-group">
        <label for="password">
            Password:
        </label>
        <input type="password" id="password" class="form-control" ng-model="login.password" autofill-enabled/>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">
        Login
    </button>
</form>